*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.dark-theme
{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right ,purple 30%,orange 70%,yellow 100%);
}

.displayTheme {
  width: 360px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 3px solid white;
  border-radius: 35px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 50px;
}

.time {
  display: flex;
  gap: 10px;
  
}

#date-display {
  margin-top: 10px;
  font-size: 17px;
  color: #ddd;
}